# Ignore Data and images that will be used in the report
data/
data/raw/
data/processed/
reports/

# Ignore Environment
.venv/
.env

# Ignore Cache
__pycache__/
.ipynb_checkpoints/
*.DS_Store

# Ignore tuning models
my_dir/